* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Montserrat", sans-serif;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

main {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  background-color: #f1f1f1;
  min-height: calc(100vh - 40px);
}

header {
  justify-content: space-between;
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999px;
  box-shadow: 0px 0px 6px 0px rgb(0, 0, 0, 0.5);
  background-color: #ffffff;
}

footer {
  text-align: center;
}

hr {
  box-shadow: 0px 0px 6px 0px rgb(0, 0, 0, 0.5);
}

.footer-container {
  font-weight: 400;
  padding: 40px;
}

.image-wrapper img {
  width: 600px;
  height: auto;
}
.main-section h2 {
  margin-top: -300px;
}

.main-section img {
  margin-left: 20px;
}

.main-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-section-gradient {
  font-size: 2rem;
  line-height: 1.1;
  font-weight: bold;
  background: linear-gradient(to bottom, #337099, #d04edb, #738d8a);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.site-name-gradient {
  padding: 10px;
  font-size: 3rem;
  line-height: 1.1;
  font-weight: bold;
  background: linear-gradient(to bottom, #663399, #4682b4, #40e0d0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.alphabet {
  padding: 50px;
}

.alphabet-letters {
  font-weight: bold;
  background: linear-gradient(to bottom, #663399, #0b0c0c, #2b3a7c);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 100px;
  margin-right: 100px;
}

.header {
  padding: 10px 16px;
}

.main-content {
  padding: 50px;
  margin-top: 70px;
}

.nav-bar-content {
  padding: 25px 16px;
}

.nav-bar-content a {
  text-decoration: none;
}

.nav-bar-content li {
  list-style: none;
  font-weight: bold;
  background: linear-gradient(to bottom, #663399, #4682b4, #40e0d0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
